<!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/chat_box.css">
<link rel="stylesheet" href="/css/home.css">


<div id="home-container" class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <section id="feed-posts" class="container-fluid">
                <h4>Posts</h4>
                <% if(locals.user){ %>
                <form action="/posts/create" id="new-post-form" method="POST" class="mb-3">
                    <div class="form-group">
                        <textarea name="content" class="form-control" rows="3" placeholder="Type Here..." required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
                <% } %>
            
                <div id="posts-list-container">
                    <ul class="list-unstyled">
                        <% for(post of posts){ %>
                            
                        <%- include('_post') -%>
                            
                        <%} %>
                    </ul>
                </div>
            </section>
        </div>

        <div class="col-md-4">
            <section id="user-friends" class="container-fluid">
                <h4>Friends</h4>
                <% for(u of all_users){%>
                    <p>
                        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                    </p>
                <% } %>
            </section>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <button id="chat-toggle-button" class="btn btn-primary">
                Chat
            </button>
        </div>
    </div>
</div>

<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>
