#user-chat-box {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border: 1px dashed grey;
    height: 25rem;
    width: 20rem;
    background: white;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);

    #chat-messages-list {
        list-style: none;
        padding: 1rem;
        height: 70%;
        background-color: white;
        overflow: auto;

        .other-message {
            text-align: left;
            padding: 0.5rem;

            span {
                display: inline-block;
                padding: 1rem;
                background-color: #ffa0a0;
            }
        }

        .self-message {
            text-align: right;
            padding: 0.5rem;

            span {
                display: inline-block;
                padding: 1rem;
                background-color: #a0dcff;
            }
        }
    }

    #chat-message-input-container {
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        #chat-message-input {
            flex: 1;
            height: 100%;
            padding: 0.5rem;
            border: 0.1rem solid #ced4da;
            border-radius: 0.5rem;
        }

        #send-message {
            height: 100%;
            width: 4rem;
            font-size: 1.6rem;
            color: white;
            border: none;
            background: #58d258;
            border-radius: 0.5rem;
            cursor: pointer;
            margin-left: 1rem;
        }
    }
}
